<div class="container">
    <div class="row">
        <div class="center" style="margin: 0 auto; text-align: center; padding: 20px 0;">
            <h3>Хорошие новости!</h3>
            <br>
            <p>Инструкция для восстановления доступа успешно отправлена на вашу почту.</p>
            <div style="text-align: center; padding: 20px 0;">
            <p><a class="text-danger" href="/">Вернуться на главную</a> или <a class="text-danger" href="/auth/login">авторизоваться</a></p>
            </div>
            <br>
        </div>
    </div>
</div>