<div class="login-clean-reset">
    <form action="/auth/reset" method="post">
        <h3>Забыли пароль?</h3>
        {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {{/if}}

        <div class="form-group">

            <label for="email">Email адрес</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>

        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">ОТПРАВИТЬ</button>
            <small id="emailHelp" class="form-text text-muted">На вашу почту придет инструкция по восстановлению
                доступа</small>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
    </form>

</div>
