<nav class="navbar navbar-light navbar-expand-md navigation-clean-button"
     style="margin-bottom: 100px;box-shadow: 3px -6px 20px 0px;">
    {{#if isAuth}}
    <div class="container"><a class="navbar-brand" href="/">Главная</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navcol-1">
        <ul class="nav navbar-nav d-flex justify-content-start align-items-start mr-auto">
            <li class="nav-item" role="presentation"><a class="nav-link text-secondary"
                                                        href="/todo">Todo</a>
            </li>
            <li class="nav-item" role="presentation"><a class="nav-link text-secondary"
                                                        href="/profile">Профиль</a>
            </li>
        </ul>

        <span class="d-flex align-items-center navbar-text actions">
            <a class="btn btn-light action-button" role="button" href="/auth/logout">Выйти</a>
        </span>
    {{else}}
        <div class="container"><a class="navbar-brand" href="/">Главная</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav d-flex justify-content-start align-items-start mr-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <span class="d-flex align-items-center navbar-text actions"> <a class="login"
                                                                                href="/auth/login">Войти</a><a
                        class="btn btn-light action-button" role="button" href="/auth/register">Регистрация</a></span>
            </div>
        </div>
    {{/if}}
</nav>