<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section>
                    <div class="row clearmargin clearpadding row-image-txt">
                        <div class="col-xs-12 col-sm-12 col-md-6 clearmargin clearpadding col-sm-push-6"
                             style="background-image: url(/img/office-front.jpeg);background-size: cover;background-position: center;background-repeat: no-repeat;">
                            <div></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-sm-pull-6 bg-white" style="padding:20px;">
                            <h1 class="text-left text-dark">To-do list</h1>
                            <hr>
                            <p class="text-left text-black-50">Что же это такое? Это небольшое веб-приложение, где вы
                                можете создавать простой список дел.&nbsp;А еще, это практика для меня. <br><br>Еще
                                немного текста: бла-бла, бла-бла, извините, бла-бла, бла-бла.<br>И еще немного:
                                бла-бла, бла-бла, бла-бла.<br><br>Перейти к списку дел:<br></p>
                            <div style="text-align:center">
                                <button class="btn btn-light btn-lg" type="button">
                                    {{#if isAuth}}
                                        <a href="/todo">TODO</a>
                                    {{else}}
                                        <a href="/auth/login#logIn">Войти</a>
                                    {{/if}}
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<div class="contact-clean" style="margin-top: 100px;">


    <form method="post" action="/contact" id="contactToUs">
        <h2 class="text-center">Связаться с нами</h2>

        {{#if success}}
            <div class="alert alert-success" role="alert">
                {{success}}
            </div>
        {{/if}}

        {{#if sendContactEmailError}}
            <div class="alert alert-danger" role="alert">
                {{sendContactEmailError}}
            </div>
        {{/if}}

        <div class="form-group"><input onkeyup="empty()" class="form-control" type="text" id="name" name="name"
                                       placeholder="Имя" required minlength="3" maxlength="50"></div>
        <div class="form-group"><input onkeyup="empty()" class="form-control" id="email" type="email" name="email"
                                       placeholder="Email" required></div>
        <div class="form-group"><textarea onkeyup="empty()" class="form-control" id="message" name="message"
                                          placeholder="Сообщение"
                                          rows="14" required minlength="10" maxlength="250"></textarea></div>
        <div class="form-group">
            <button id="submit" class="btn btn-primary" type="submit">отправить&nbsp;</button>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">
    </form>
</div>