html, body {
    height: 100%;
}

/*body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*footer {*/
/*    flex: 0 0 auto;*/
/*}*/


.content {
    flex: 1 0 auto
}

.my-chart {
    display: flex;
    flex-direction: row;
}


/* Customize the label (the con) */
.con {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.con:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.con input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.con input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.con .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.file:focus + label,
.file + label:hover {
    background-color: red;
}

.file + label {
    cursor: pointer; /* "hand" cursor */
}

.file:focus + label {
    outline: 1px dotted #000;
}

body > nav > div > a.selected {
    text-decoration: underline;
}


.error-svg {
    max-width: 250px;
    margin: 20px 0 80px 0;
}

.error {
    display: flex;
    flex-direction: row;
}

div.empty-todos {
    margin: 0 auto;
}

img.empty-todo-svg {
    max-width: 132px;
    padding: 20px;
    margin: 0 auto;
}


.my-chart {
    display: flex;
    flex-direction: column;
}

.td {
    display: flex;
    flex-direction: row;
}

.toDate {
    font-size: 20px;
    color: #a1a1a1;
}

.delete-btn {
    color: #2196F3;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding-left: 10px;
}

.delete-btn:active, .delete-btn:focus, .delete-btn {
    outline: none;
    border: none;
}

.delete-btn:hover {
    opacity: 0.7;
}

.edit-btn {
    color: #2196F3;
}

.edit-btn:hover {
    opacity: 0.7;
}

table {
    box-shadow: 0 0 8px 2px #d5d5d5;
}

.empty-todos {
    box-shadow: 0 0 8px 2px #d5d5d5;
}

th {
    margin-bottom: 0;
    border: none !important;
}

.table-scroll {
    min-height: 300px;
    max-height: 800px;
    overflow: auto;
    margin-bottom: 120px;
}