html, body {
    height: 100%;
}

/*body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*footer {*/
/*    flex: 0 0 auto;*/
/*}*/


.content {
    flex: 1 0 auto
}

.my-chart {
    display: flex;
    flex-direction: row;
}


/* Customize the label (the con) */
.con {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.con:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.con input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.con input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.con .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.file:focus + label,
.file + label:hover {
    background-color: red;
}

.file + label {
    cursor: pointer; /* "hand" cursor */
}

.file:focus + label {
    outline: 1px dotted #000;
}

.label-file {
    color: #f7f9fc;
    background: #3c3c45;
    font-size: 18px;
    padding: 5px 7px;
    border-radius: 10px;
    opacity: 1;
    box-shadow: 0 -3px rgb(182, 182, 182) inset;
}

.label-file:hover {
    opacity: 90%;
    transition: 0.2s;
}

.label-file:active {
    box-shadow: 0 3px rgb(161, 161, 161) inset;
}

body > nav > div > a.selected {
    text-decoration: underline;
}


.error-svg {
    max-width: 250px;
    margin: 20px 0 80px 0;
}

.error {
    display: flex;
    flex-direction: row;
}

div.empty-todos {
    margin: 0 auto;
}

img.empty-todo-svg {
    max-width: 132px;
    padding: 20px;
    margin: 0 auto;
}


.my-chart {
    display: flex;
    flex-direction: column;
}

.td {
    display: flex;
    flex-direction: row;
}

.toDate {
    font-size: 20px;
    color: #a1a1a1;
}

.delete-btn {
    color: #2196F3;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding-left: 10px;
}

.delete-btn:active, .delete-btn:focus, .delete-btn {
    outline: none;
    border: none;
}

.delete-btn:hover {
    opacity: 0.7;
}

.edit-btn {
    color: #2196F3;
}

.edit-btn:hover {
    opacity: 0.7;
}

table {
    box-shadow: 0 0 9px 1px #b3b3b3;
}

.empty-todos {
    box-shadow: 0 0 8px 2px #d5d5d5;
}

th {
    margin-bottom: 0;
    border: none !important;
}

.table-scroll {
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
    margin-bottom: 120px;
    padding: 0 5px;
}

.deleteAfter {
    border: 0 !important;
}

td.td {
    border: 0 !important;
}

/*.tr-table:hover {*/
/*    -webkit-transform: scale(1.1);*/
/*    -ms-transform: scale(1.1);*/
/*    transform: scale(1.1);*/
/*}*/

.deleteAfter:hover {
    transition: 1s;
    color: #7d7d7d;
}


/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .title-with-link {
        display: none;
    }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    .title-with-link {
        display: none;
    }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .title-with-link {
        display: none;
    }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .title-without-link {
        display: none;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .title-without-link {
        display: none;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .title-without-link {
        display: none;
    }


}

.title-without-link {
    margin: 0 !important;
}

div.table-scroll{
    font-size: 0.9rem !important;
}